<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="SpringCard" value="{NUGET_URL}" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>

	<packageSourceCredentials>
		<SpringCard>
			<add key="Username" value="gitlab-ci-token" />
			<add key="ClearTextPassword" value="{CI_JOB_TOKEN}" />
		</SpringCard>
	</packageSourceCredentials>
</configuration>